<header class="sticky-top">
    <div class="center-nav justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="whoami">Who Am I</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="whatido">What I do</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="contactme">Contact Me</a>
                      </li>
                  </ul>
                </div>
              </div>
            
          </nav>
    </div>
</header>