h3{
    color: #ffffff;
}
.message-form{
    color: #ffffff;
    animation: div-appear 1000ms ease-in;
}
.my-image{
    height : 100px !important;
    width: 100px !important
}
.social-logo{
    height : 30px !important;
    width: 30px !important
}

@keyframes div-appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}