<div class="container-fluid">
    
    <div class="message-form mt-4">
        <div class="row d-flex justify-content-evenly">
            <div class="col-lg-4">
                <form>
                    <div class="mb-2">
                        <label for="fname" class="form-label">Name</label>
                        <input type="text" class="form-control" id="fname" aria-describedby="emailHelp">
                        
                      </div>
                    <div class="mb-2">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                      
                    </div>
                    <div class="mb-2">
                      <label for="website" class="form-label">Website</label>
                      <input type="url" class="form-control" id="website">
                    </div>

                    <div class="mb-2">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="4"></textarea>
                      </div>
                    
                    <button type="submit" class="btn btn-warning float-end">Submit</button>
                  </form>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="card text-center text-dark">
                    <div class="card-header">
                      About Me
                    </div>
                    <div class="card-body">
                        <img src="./assets/images/profile-g64494bfbd_1920.png" class="card-img-top img-fluid my-image" alt="Profile Picture">
                        <h5 class="card-title">John Smith</h5>
                        <p class="card-text">I am a Front-end Developer with 5 years commercial experience, and graduate of Internet Technology. I create successful websites that are fast, easy to use, and built with best practices.</p>
                        <div class="contact-container d-flex justify-content-around">
                            <img src="./assets/icons/email.png" alt="e-mail" class="social-logo">
                            <em>johnsmithdeveloper@gmail.com</em>
                            <img src="./assets/icons/telephone-call.png" alt="mobile" class="social-logo">
                            <em>+91 9985654552</em>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-evenly">
                      <a href="http://">
                        <img src="./assets/icons/instagram.png" alt="instagram" class="social-logo">
                      </a>
                      <a href="http://">
                        <img src="./assets/icons/twitter.png" alt="twitter" class="social-logo">
                      </a>
                      <a href="http://">
                        <img src="./assets/icons/facebook.png" alt="facebook" class="social-logo">
                      </a>
                      <a href="http://">
                        <img src="./assets/icons/youtube.png" alt="youtube" class="social-logo">
                      </a>
                      <a href="http://">
                        <img src="./assets/icons/reddit.png" alt="reddit" class="social-logo">
                      </a>
                      <a href="http://">
                        <img src="./assets/icons/linkedin.png" alt="linkedin" class="social-logo">
                      </a>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
    
</div>