<div class="container-fluid whoami">
    <div class="row">
        <div class="col-3">
            <div class="">
                <img src="./assets/images/portrait-g2ceb420bb_1920.jpg" alt="portrait" class="portrait">
            </div>
        </div>
        <div class="col-8 mt-5 mx-5">
            <h4>Hello, I'm</h4>
            <h2>John Smith</h2>
            <div>
                <ul class="strengths">
                    <li>Full Stack Developer</li>
                    <li>Frontend Designer</li>
                    <li>Graduate in Computer Application</li>
                    <li>Team Member</li>
                    <li>Passionate</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-5">
                    <img src="./assets/images/laptop-g5c969a051_1280.png" alt="techimage" class="techimage">
                </div>
            </div>
        </div>
        
    </div>
</div>